:root {
    --light-dark: #d8dbdb;
    --dark: #1b1f24;
    --border-radius: .3rem;
  }

  #icons {
    position: absolute;    
    right: 0; 

    list-style: none;
    margin: 0;
    padding: 5px;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}
.icon {
  margin-right: 15px;
}
@keyframes moveRight {
  0% {
    left: 10px;
  }
  
  50% {
    left: 45px;
  }
  
  100% {
    left: 10px;
  }
}

@keyframes moveLeft {
  0% {
    left: 50px;
  }
  
  50% {
    left: 10px;
  }
  
  100% {
    left: 50px;
  }
}