:root {
    --primary: #d2e6f7;
    --secondary: #8fc9e4;
    --tertiary: #358eb8;
    --light-dark: #d8dbdb;
    --dark: #374e6b;
    --border-radius: .3rem;
  }

  .app-title {
    font-size: 3rem;
    background-color: var(--dark);
    color: var(--primary);
    padding: 0 15px 5px 25px;
    display: inline-flex;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
  }
  
  .forecast__cloudy__sun{
    width: 40px;
    height: 40px;
    background: #faeb7c;
    border-radius: 50%;
    border: 1px solid #F5D76A;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-flex;
  }
  @keyframes moveRight {
    0% {
      left: 10px;
    }
    
    50% {
      left: 45px;
    }
    
    100% {
      left: 10px;
    }
  }
  
  @keyframes moveLeft {
    0% {
      left: 50px;
    }
    
    50% {
      left: 10px;
    }
    
    100% {
      left: 50px;
    }
  }
  
  main {
    margin: 20px auto;
    width: 94%;
  }
  
  p {
    font-size: 1.2rem;
    padding-top: 15px;
    padding-left: 10px;
  }
  /* buttons */
   .btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--tertiary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
  }
  
   .btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }
  
  .btn-inline {
    display: inline;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

.container {
    flex: auto;
}
/* hero style  */
.hero {
    padding: 3% 4%;
    background-color: var(--dark);
    color: var(--primary);
  }
  
  .hero p {
    max-width: 75%;
  }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}
/* card styling */
.card {
    margin: 0 0 20px 0;
    border: 2px solid var(--dark);
    border-radius: var(--border-radius);
  }
  
  .card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 2.5%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
  }
  
  .card-body {
    padding: 2.5%;
  }
/* list of cities */
.list-group {
    padding: 100px;
    list-style: none;
  }
  
  .list-item {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: var(--primary);
    text-decoration: none;
  }
  
  .list-item:hover {
    background-color: var(--dark);
  }
  .current-city {
    margin-bottom: 10px;
    padding: 14.5%;
    border-radius: var(--border-radius);
    background-color: white;
    color: var(--tertiary);
    text-decoration: none;
  }
.col-md-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
}
.justify-space-between {
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}